{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
<meta charset="utf-8">
<title>{% if title %}{{ title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
{% if tags %}<meta name="keywords" content="{{ tags | join: ', ' }}">{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if image.og %}<meta property="og:image" content="{{ site.url }}/images/{{ image.og }}">{% elsif image.feature %}<meta property="og:image" content="{{ site.url }}/images/{{ image.feature }}">{% endif %}

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<script>document.documentElement.classList.remove('no-js');</script>

<!-- Icons -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="shortcut icon" href="/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png">
