{% if pagination.pages.size > 1 %}
<div class="pagination">
  <ul class="inline-list">
    {% if pagination.href.previous %}
      <li><a href="{{ pagination.href.previous }}" class="btn">Previous</a></li>
    {% endif %}

    {% for pageUrl in pagination.hrefs %}
      {% assign pageNum = forloop.index %}
      {% if pageUrl == page.url %}
        <li><strong class="current-page">{{ pageNum }}</strong></li>
      {% else %}
        <li><a href="{{ pageUrl }}">{{ pageNum }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.href.next %}
      <li><a href="{{ pagination.href.next }}" class="btn">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
