<!doctype html>
<html lang="en" class="no-js">
<head>
{% include "head.html" %}
</head>

<body id="page" {% if image.feature %}class="feature"{% endif %}>

{% include "navigation.html" %}

{% if image.feature %}
<div class="entry-header">
  {% if image.credit %}<div class="image-credit">Image source: <a href="{{ image.creditlink }}">{{ image.credit }}</a></div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="/images/{{ image.feature }}" alt="{{ image.alt | default: '' }}" loading="lazy">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        <h1 class="entry-title">{{ title }}</h1>
        {% if site.reading_time %}
        <p class="entry-reading-time">
          <i class="fa-solid fa-clock"></i>
          {% include "read-time.html" %}
        </p><!-- /.entry-reading-time -->
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        {% if modified %}<span>Updated on <span class="entry-date date published updated"><time datetime="{{ modified }}">{{ modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
      </footer>
    </div><!-- /.entry-content -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include "footer.html" %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include "scripts.html" %}

</body>
</html>
