<!doctype html>
<html lang="en" class="no-js">
<head>
{% include "head.html" %}
</head>

<body id="post-index" {% if image.feature %}class="feature"{% endif %}>

{% include "navigation.html" %}

<div class="entry-header">
  {% if image.credit %}<div class="image-credit">Image source: <a href="{{ image.creditlink }}">{{ image.credit }}</a></div><!-- /.image-credit -->{% endif %}
  {% if image.feature %}
    <div class="entry-image">
      <img src="/images/{{ image.feature }}" alt="{{ image.alt | default: '' }}"{% if image.focus %} style="object-position: {{ image.focus }}"{% endif %}>
    </div><!-- /.entry-image -->
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
      <h1 class="site-title">{{ site.title }}</h1>
      <h2 class="site-subtitle">{{ title }}</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include "footer.html" %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include "scripts.html" %}

</body>
</html>
